body {
    background-color: #121212 !important;
}

.card {
    border: 1px solid #333;
    margin-bottom: 20px;
}

.content-item {
    background-color: #1e1e1e;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-left: 5px solid #0d6efd;
}

.section {
    padding-bottom: 50px;
}
